[user]
	email = pratik.borde@sapient.com
	name = Pratik
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[mergetool "vimdiff"]
  	cmd = vim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[alias]
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[core]
	excludesfile = $HOME/.gitignore_global
[pull]
	ff = only
[core]
	editor = vim
