[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/sparkcanon/nvim.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".doom.d"]
	path = .doom.d
	url = https://github.com/pratikborde/doom.d.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/sparkcanon/vim.git
